<div class="table-of-contents">

	<h1 class="page-heading">Table of Contents</h1>

	<ul class="post-list">
		<li>Computers
			<ul class="computers">
				<li><a href="/hardware">Hardware</a></li>
				<li>Software<ul>
					<li><a href="/operatingsystems">Operating Systems</a></li>
				</ul></li>
			</ul>
		</li>
		<li>Math
			<ul>
				<li><a href="/geometry">Geometry</a></li>
			</ul>
		</li>
		<li>Education<ul>
			<li><a href="/education/freedom">Freedom</a></li>
		</ul></li>
		<li>Religion</li>
		<li>Science</li>
		<li>Stuff I've Done<ul>
			<li>Music<ul>
				<li><a href="http://indigochill.bandcamp.com">Bandcamp</a></li>
				<li><a href="http://soundcloud.com/vaguseques">Soundcloud</a></li>
			</ul></li>
			<li>Games<ul>
				<li><a href="https://manifold.itch.io">Personal Itch.io</a></li>
				<li><a href="https://team-never-again.itch.io/">Team Itch.io</a></li>
			</ul></li>
			<li>Hacking<ul>
				<li><a href="https://microcorruption.com/profile/27377">Microcorruption</a></li>
				<li><a href="https://www.wechall.net/profile/indigochill">WeChall</a></li>
			</ul></li>
		</ul></li>
	</ul>

</div>
